/* HTML */

.login {
  
  overflow-y: hidden;
  background: none;
  
  background: none;
  font-size: 1.2rem;
  background: rgb(24, 206, 167);
  
}

*{
  user-select: none; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
/* Login felülete */
.container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65vh;
  background-color: rgba(255, 255, 255, 0.918);
  height: 96vh;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15px;

}

/*.form{
  position: relative;
  bottom: 2vh;
}
*/
.container h3 {
  position: relative;
  bottom: 5vh;
  text-transform: uppercase;
}
/* Login bevitelimezők*/
.login .form .inputs:first-child {
  margin-bottom: 3rem;
}

.login .form .inputs, .login .form .input_buttons {
  margin: 0;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}



.login .form .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.login .form .inputs .icons {
  position: relative;
  margin: 0;
  padding: 0;
  text-decoration: none;
  left:2rem;
  
}

.login .form .inputs input {
  padding-left: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40vh;
  margin-right: 1rem;
  border-radius: 5px;
  border: none; 
  border:1px solid rgba(0, 0, 0, 0.404); 
  
}

.login .form .inputs input:focus{
    outline:none;
    border-color:  rgb(24, 206, 166);
    
}

input:-webkit-autofill  {
  -webkit-box-shadow: 0 0 0 30px  white inset !important;
  -webkit-text-fill-color: black;
}

.login .form .inputs #username{
    margin-bottom: 1rem;
    
}

.login .form .inputs #password{
    margin-bottom: 1rem;
 
}

.login .form .input_buttons {
  display: flex;
  flex-direction: column;
}

.login .form .input_buttons a{
    margin-top: 2rem;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    width: max-content;
    align-self: center;
    border-bottom: 1px solid transparent;
}

.login .form .input_buttons a:hover{
    border-bottom:1px solid black ;
   
   
}

.login .form .input_buttons #login{

    color:white;
    padding: 1rem;
    border: none;
    width: 44vh;
    margin: auto;
    border-radius: 5px;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(24, 206, 166), rgb(8, 138, 110), rgb(8, 73, 59));
}

.login .form .input_buttons #login:hover{

    background: linear-gradient(to right, rgb(24, 206, 166),  rgb(43, 67, 133));

}


.login .label {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  padding: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

#login{
    cursor: pointer;
}

.rememberme{
    position: relative;
    bottom: 5rem;
    left: 6.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rememberme label{
    margin-left: .5rem;
    font-size: 1.1rem;
    font-weight: lighter;
}

.rememberme input{
  transform: scale(1.2);
}
/*!------------------!*/
/* --Login bevitelimezőknek --*/
/* --Login felület --*/


footer{
 position: relative;
 top: 100px;
 
}

/* Dark mode osztályok */
.dark-mode {
  background: rgb(0, 0, 0,0.900);
  color: white;

}
.dark-mode-container{

  background: rgba(17, 17, 17, 0.733);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  
}
.dark-mode-icons{
  color:rgb(8, 138, 110);
  
}
.dark-mode-labels{
  color:rgb(255, 255, 255)!important;
  font-weight: lighter;
 
}

.dark-mode-footer{
  color:rgb(8, 138, 110)!important;
  
}
.dark-mode-footer:hover{
  border-bottom: 1px solid rgb(8, 138, 110)!important;
}

.dark-mode-inputs{
  background-color: rgba(0, 0, 0, 0.404);
  color: white!important;
}
.dark-mode-inputs:-webkit-autofill  {
  -webkit-box-shadow: 0 0 0 30px  black inset !important;
  -webkit-text-fill-color: white;
}

.dark-mode-ck-label{
    color:rgb(8, 138, 110);
}