* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Alkalmazott menu*/
header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 1rem;
}
.dropbtn {
  
  margin: 1rem;
  color: black;
  padding: 16px;
  position: relative;
  right: 1rem;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  
}

.openbtn:hover{
  background-color: rgb(24, 206, 167);
}
.dropbtn2 {
  
  color: black;
  padding: 16px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.dropbtn2:hover {
  background-color: rgb(24, 206, 167);
}
.dropbtn aside {
  margin: 0.2rem;
  color: rgb(24, 206, 167);
}
.dropbtn section{
  display: inline;
  font-weight: lighter;
  color: black;
}

.dropdown,
.dropdown2 {
  position: relative;
  display: inline-block;
  
}

.dropdown-content,
.dropdown-content2 {
  user-select: none;
  border-radius: 6px;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.253);
  cursor: pointer;
  
}

.passchange {
  margin-top: 200px;
}
.logout {
  margin-bottom: 25px;
}

.dropdown-content a,
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content {
}

.dropdown-content a:hover,
.dropdown-content2 a:hover {
  background-color: rgb(24, 206, 167);
  border-radius: 6px;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
/*!--------------------!*/
/* Alkalmazott menu vége*/
html{
  background-color: rgb(24, 206, 167);
}
body{
  
  margin: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.39);
  padding: 2rem;
}

/* Mindenki menü */
.openbtn {

  margin: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.253);
  color: black;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.sidenav {
  user-select: none;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 5rem;
  right: 7.5%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.253);
  cursor: pointer;
}

.sidenav a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-right: 1rem;
}

.sidenav a:hover {
  background-color: rgb(24, 206, 167);
  border-radius: 6px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10rem;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/*!-----------!*/
/* Mindenki menu vége */

/* Tartalom */
html {
  max-width: 95%;
  scroll-behavior: smooth;

  margin: auto;
  /*background: rgb(24, 206, 167);*/
}
body {
  max-width: 90%;
  transition: background-color 0.5s;
  margin-top: 2.5rem;
}
.container {
  transition: width 1s;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  margin-top: 2vh;
}
.container aside,
article {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  height: fit-content;
  
}


.container aside .posts{
  
  height: 33.5rem;
}
.container article .info {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(8rem, 1fr));
  overflow-y: scroll;
  height: 30rem;
  
}
.container article .info div {
  text-align: justify;
  margin: 2rem;
}

/* Footer */
.label {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  padding: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}
/*!------------!*/
/* Footer vége */

.post {
  display: list-item;
  list-style-type: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  transition: .5s;
  user-select: none;
}
.post:hover{
  text-indent: 20px;
  background-color: rgb(24, 206, 167);
  color: white;
  text-shadow: 1px 1px black;
  
}

.post  p {
  background-color: white;
  font-weight: lighter;
  text-align: justify;
  display: block;
  display: none;
}
.post  h3 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 10px;
}

.post img {
  display: none;
  width: 200px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  margin: 1rem;
  margin: auto;
}
.post-info{
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.39);
  z-index: 5; 
  padding: 1rem;
  user-select: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 50rem;
  min-height: 20rem;
}
.post-info p{
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 3rem;
  margin-top: 5rem;
  padding: 1rem;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 6px;
  text-indent: 15px;
  box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.205);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-info h3{
  color:  rgb(24, 206, 167);
  padding-top: 1rem;
  padding-bottom: 5px;
  text-align: left;
  margin: auto;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
  position: absolute;
  left: 40%;
  transform: translate(-50%,-50%);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-info img{
  display: block;
  position: relative;
  top: 50%;
  transform: translate(5%, -50%);
  float: left;
  width: 90%;
  object-fit: cover;
  border-radius: .8rem;
  box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0, .05);
}
.post-img::before{
 content: '';
 background: linear-gradient(to right, rgb(24, 206, 166), rgb(8, 138, 110), rgb(8, 73, 59));
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.closeinfo{
  display: block;
  position: relative;
  bottom: 90%;
  left:90%;
  transform: translate(0,25%);
  font-size: 2rem;
  padding: .3rem;
  border-radius: .8rem;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  background: none;
}
.post-img{
  width: 50rem;
  margin: 1rem;  

}

.post-info-user-data section{

  position: absolute;
  top: 71%;
  right: 80%;
  transform: translateX(15%);
  color: grey;
  font-size: larger;
}
.post-info-user-data p{
  
  text-align: justify;
  
}
/* Dark mode osztályok */
.dark-mode {
  background: rgb(0, 0, 0,0.900);
  color: white;

}
.dark-mode-container{

  background: rgba(17, 17, 17, 0.733)!important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  
}
.dark-mode-icons{
  color:rgb(8, 138, 110)!important;
  
}
.dark-mode-labels{
  color:rgb(255, 255, 255)!important;
  font-weight: lighter;
 
}

.dark-mode-footer{
  color:rgb(8, 138, 110)!important;
  
}
.dark-mode-footer:hover{
  border-bottom: 1px solid rgb(8, 138, 110)!important;
}

.dark-mode-inputs{
  background-color: rgba(0, 0, 0, 0.404);
  color: white!important;
}
.dark-mode-inputs:-webkit-autofill  {
  -webkit-box-shadow: 0 0 0 30px  black inset !important;
  -webkit-text-fill-color: white;
}

.dark-mode-ck-label{
    color:rgb(8, 138, 110);
}
.dark-mode-a{
  color:rgb(8, 138, 110)!important;
}
.dark-mode-a:hover{
  
  border-radius: 6px;
  color: white!important;
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dark-mode-section{
  color:rgb(8, 138, 110)!important;
}
.dark-mode-white{
  color: white !important;
}